.button-container {
    margin-top: 20px;
    display: flex;
}

.start-button {
    padding: 10px 20px;
    width: 6rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    box-sizing: border-box;
}

.start-button:hover {
    background-color: #45a049;
}

.start-button:active {
    background-color: #3e8e41;
}

.pause-button {
    padding: 10px 20px;
    background-color: #ff4d53;
    width: 6rem;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    box-sizing: border-box;
}

.pause-button:hover {
    background-color: #e45156;
}

.pause-button:active {
    background-color: #bd4448;
}

.reset-button {
    padding: 10px 20px;
    background-color: #b8b8b8;
    width: 6rem;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

.reset-button:hover {
    background-color: #8f8f8f;
}

.reset-button:active {
    background-color: #646464;
}
